*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 50px auto;
    
}

img{
    height: 220px;
    margin: 15px;
    

}
.controls{
    
    display: flex;
    justify-content: center;
    margin: 55px auto;


}

button{
    margin: 10px;
    padding: 8px;
}

